<div class="container">
    <!-- Search input -->
    <div></div>
    <div class="patient-search-h3">
        <h3>Buscar paciente:</h3>
    </div>
    <div class="patient-search-input">
        <input type="search" placeholder="Ej. Eliu Benitez" (keyup)="searchPatient($event)" [(ngModel)]="patient.name" />
    </div>
    <div class="patient-search-button">
        <button type="submit" (click)="onSubmit(patient.name)">Buscar</button>
    </div>
    <div></div>

    <!-- Filtered List -->
    <div></div>
    <div></div>
    <div class="patient-filtered-list-parent" *ngIf="false">
        <div class="patient-filtered-list-child">
            <ul *ngFor="let patient of patientsFilteredList">
                <li>{{ patient.name }}</li>
            </ul>
        </div>
    </div>
    <div></div>
    <div></div>
</div>

<!-- <div><input type="search" /></div> -->