<form>
    <div class="parent-login">
        <div class="child-login">
            <label class="user-login">
        USUARIO:
        <input
          type="text"
          name="user"
          placeholder="USUARIO"
          [(ngModel)]="loginForm.user"
        />
      </label>
        </div>

        <div class="child-login">
            <label class="password-login">
        CONTRASEÑA:
        <input
          type="password"
          name="passLogin"
          placeholder="CONTRASEÑA"
          [(ngModel)]="loginForm.password"
        />
      </label>
        </div>

        <button type="submit" (click)="login()">Ingresar!</button>
    </div>
</form>