<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="parent-login">
        <div class="young-login">
            <div class="child-login">
                <label class="user-login">
          <b> USUARIO: </b>
          <input type="text" formControlName="user" placeholder="USUARIO" required />
        </label>
            </div>

            <div class="child-login">
                <label class="password-login">
          <b> CONTRASEÑA: </b>
          <input type="password" formControlName="password" placeholder="CONTRASEÑA" required />
        </label>
            </div>

            <div class="child-login">
                <button type="submit">Ingresar!</button>
            </div>
        </div>
    </div>
</form>