<header>
    <h1>Consulta</h1>
</header>

<hr />

<!-- Busqueda de paciente -->
<app-search-patient></app-search-patient>

<section *ngIf="">
    <!-- Historial del paciente -->
    <label>
    <input type="text" placeholder="Historial del paciente" />
  </label>

    <!-- Sintomas del paciente
        -- Mucosidad --
        -- Fiebre --
        -- Tos --
        -- Dolor de cuerpo --
        -- Dolor de cabeza --
        -- Nauseas --
        -- Otros --
    -->
    <label>
    <input type="text" placeholder="Sintomas" />
  </label>

    <!-- Datos Generales del paciente 
        -- Temperatura -- 
        -- Estatura -- 
        -- Peso -- 
        -- Presion -- 
        -- Otros -- 
    -->
    <label>
    <input type="text" placeholder="Datos generales" />
  </label>
</section>